@import '../../../../../common/utils/variables.scss';


.formGroup {
  display: flex;
  gap: .5rem;
  align-items: center;

  label {
    font-weight: 500;
    text-transform: uppercase;
  }

  input[type="text"],
  select {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px solid $color-primary-variant;
    border-radius: 5px;
    padding: 5px;
  }

  input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-white;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }
}