@import '../../../../common/utils/variables.scss';

.container {
  padding: 0 4rem;

  .contentHeader {
    display: flex;
    justify-content: space-around;

    .searchProduct {
      display: flex;
      gap: 1rem;

      .inputProduct {
        display: flex;
        flex-direction: column;

        .msgSearch {
          margin-top: -.5rem;

          p {
            color: $color-secondary;
            font-size: 1rem;
            display: flex;
            gap: .5rem;
          }
        }
      }

      input {
        height: 2rem;
        width: 20rem;
        border: 1px solid $color-primary-variant;
        border-radius: 5px;
        padding: 0 1rem;
        margin-bottom: 1rem;
      }


      input[type='number'] {
        width: 4.5rem;
      }

      .buttonCheck {
        margin: 0;
        height: 2rem;
        width: 5rem;
        border: none;

        .icon {
          font-size: 1.3rem;
        }
      }
    }

    .confirmationProducts {
      display: flex;
      gap: 1rem;

      // button {
      //   height: 3rem;
      //   border: none;
      //   border-radius: 5px;
      //   background-color: $color-primary;
      //   color: #fff;
      //   cursor: pointer;
      //   font-size: 1rem;
      //   text-transform: uppercase;
      //   padding: 0 1rem;

      //   &.confirm {
      //     background-color: $color-primary;
      //   }

      //   &.cancel {
      //     background-color: $color-secondary;
      //   }
      // }
    }
  }

  .table {
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    table {
      width: 75%;
      border-collapse: collapse;

      thead {
        width: 100%;
        background-color: $color-primary;
        color: $color-white;

        tr {
          th {
            padding: 0.5rem;
            text-align: left;
            text-transform: uppercase;
          }
        }
      }

      tbody {
        width: 100%;
        background-color: $color-white;

        tr {
          td {
            padding: 0.5rem;
            text-align: left;

            .deleteProduct {
              visibility: hidden;
              background-color: $color-secondary;
              color: $color-white;
              padding: 4.5px;
              border: none;
              text-transform: uppercase;
              border-radius: 5px;
              font-size: .8rem;
              margin: 0;
            }

            &:hover {
              .deleteProduct {
                visibility: visible;
                cursor: pointer;
              }
            }
          }

          .sku {
            display: flex;
            align-items: center;
            gap: .5rem;
          }
        }

        tr:hover {
          td {
            background-color: $color-secondary-light;
          }
        }
      }
    }
  }
}