@import '../../../utils/variables.scss';

.container {
  width: 100%;
  height: 100%;

  .table {
    overflow: hidden;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        width: 100%;
        background-color: $color-primary-variant;
        color: $color-white;

        tr {
          th {
            padding: 0.5rem;
            text-align: left;
            text-transform: uppercase;
          }
        }
      }

      tbody {
        width: 100%;
        background-color: $color-white;

        tr {
          .sku {
            width: 115px;

            .editBtn,
            .deleteBtn {
              visibility: hidden;
            }

            .editBtn {
              font-size: 12px;
              margin: 0 8px;
              padding: 4.5px;
              border-radius: 5px;
              background-color: $color-secondary;
              border: none;
              color: $color-white;
            }

            .deleteBtn {
              font-size: 12px;
              padding: 4.5px;
              border-radius: 5px;
              background-color: $color-primary;
              border: none;
              color: $color-white;
            }
          }

          td {
            padding: 0.5rem;
            text-align: left;
          }
        }

        tr:hover {
          td {
            background-color: $color-secondary-light;

            .editBtn,
            .deleteBtn {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}