@import '../../utils/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  user-select: none;


  .data {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid $color-secondary-light;
    padding: .5rem;
    width: fit-content;
    border-radius: 10px;

    margin- span {
      color: $color-secondary;
    }
  }

  .strong {
    font-weight: bold;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}