@import '../../utils/variables.scss';

.container {
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;

  .modal {
    background-color: $color-background;
    margin-top: 5rem;

    &.sm {
      width: 400px;
    }

    &.md {
      width: 50%;
    }

    &.lg {
      width: 75%;
    }

    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: .5rem;
      border-bottom: .5 px solid $color-primary-variant;

      .modalTitle {
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-primary;
        user-select: none;
      }

      .closeButton {
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-primary;
        cursor: pointer;
        user-select: none;
        border: none;
        margin: 0
      }
    }

    .modalBody {
      padding: .5rem;
    }
  }
}

.active {
  display: flex !important;
}