// Colors palette
$color-primary: #2f56a8;
$color-primary-light: (
  lighten($color-primary, 30%)
);
$color-secondary: #564d4d;
$color-secondary-light: (
  lighten($color-secondary, 50%)
);
$color-primary-variant: #002470;
$color-primary-variant-light: (
  lighten($color-primary-variant, 30%)
);
$color-black: #000000;
$color-white: #ffffff;
$color-background: #f3f3f3;

// Colors map
$colors: (
  primary: $color-primary,
  primary-light: $color-primary-light,
  secondary: $color-secondary,
  secondary-light: $color-secondary-light,
  primary-variant: $color-primary-variant,
  primary-variant-light: $color-primary-variant-light,
  dark: $color-black,
  white: $color-white,
  background: $color-background
);